/* un petit reset rapide */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

h1,p{
  margin-bottom: 1rem;
}

ul {
  list-style: none;
  padding: 10px;
  
  background: linear-gradient(45deg, rgb(156,14,15),midnightblue);
  display: flex;
  align-items: center;
  width: 100%;

}

a{
  text-decoration: none;
  margin-left: 180px;
  margin: 20px 75px;
}

li {
  display:flex;
  padding: 0 0.3rem;
  color: white;
  
}